<div class="container">
    <form action="add-product" method="post">
        <div class="mb-3">
            <label  for="formproduct" class="form-label">Product</label>
            <input name="name" type="text" class="form-control" id="formproduct" placeholder="Enter product name">
        </div>
        <div class="mb-3">
            <label for="formdes" class="form-label">Description</label>
            <input name="des" type="text" class="form-control" id="formdes" placeholder="Enter the description">
        </div>
        <div class="mb-3">
            <label for="formprice" class="form-label">Price</label>
            <input name="link" type="text" class="form-control" id="formprice" placeholder="Enter the price">
        </div>
        <div class="mb-3">
            <label class="form-label" for="customFile">Image</label>
<input type="file" class="form-control" id="customFile" name="img" />
        </div>

        <div>
            <button type="submit" class="btn btn-outline btn-success">Add product</button>
            <button type="reset" class="btn btn-outline btn-secondary">Reset</button>
            
        </div>
</div>
</form>